set_io CLK 15
#set_io BUT1 41
#set_io BUT2 42
#set_io LED1 40
set_io LED2 51
set_io RX 28
set_io TX 29
set_io DQ[0] 62
set_io DQ[1] 63
set_io DQ[2] 64
set_io DQ[3] 65
set_io DQ[4] 66
set_io DQ[5] 68
set_io DQ[6] 69
set_io DQ[7] 71
set_io DQ[8] 72
set_io DQ[9] 60
set_io DQ[10] 59
set_io DQ[11] 57
set_io DQ[12] 56
set_io DQ[13] 54
set_io DQ[14] 53
set_io DQ[15] 52
set_io A[0] 79
set_io A[1] 80
set_io A[2] 81
set_io A[3] 82
set_io A[4] 83
set_io A[5] 85
set_io A[6] 86
set_io A[7] 87
set_io A[8] 89
set_io A[9] 90
set_io A[10] 91
set_io A[11] 93
set_io A[12] 94
set_io A[13] 95
set_io A[14] 96
set_io A[15] 97
set_io A[16] 99
set_io A[17] 100
set_io CE_N 78
set_io WE_N 73
set_io OE_N 74
set_io GMODE 16
set_io SPV 18
set_io CKV 19
set_io CL 20
set_io LE 21
set_io OE 24
set_io SPH 25
set_io DATA[0] 1
set_io DATA[1] 2
set_io DATA[2] 3
set_io DATA[3] 4
set_io DATA[4] 7
set_io DATA[5] 8
set_io DATA[6] 9
set_io DATA[7] 10
set_io SSEL 37
set_io SCK 48
set_io MOSI 45
set_io MISO 46